.flex {
    display: flex;
}
.new {
    color: #bf4800 !important;
    font-size: 10px !important;
}
.label-new {
    border: 1px #f56300 solid;
    color: #f56300;
    padding: 0.5rem;
    border-radius: 1.5rem;
    width: 4.5rem;
    font-size: 17px;
    line-height: 1.1764805882;
    font-weight: 400;
    margin: 0 auto;
}
.child_wrap {
    width: 70%;
    margin: 0 auto;
}
.purchase-gen {
    @include flex(center, center, 0 1.3rem);
}
.abs {
    position: absolute;
}
.ta_center {
    text-align: center;
}
.c_gray{
    color: $c_gray;
}
.mg_au {
    margin: 0 auto;
}
